.DS_Store
__pycache__
*.pyc
env
runtime
.idea
output
logs
reference
GPT_weights
SoVITS_weights
TEMP

# 文件夹
/.idea/
/GPT_SoVITS/pretrained_models
/tools/uvr5/uvr5_weights
/tools/asr/models

# 项目
/demo/

# 文件
*.whl
*.rar
*.exe
custom.py
sovits-lite.yaml
gweight.txt
sweight.txt
